/* 
    Document   : style
    Created on : 9 mai 2013, 18:40:46
    Author     : kaba
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*font-family: Times New Roman;*/
    font-family:  arial,helvetica,sans-serif;
}
#all{
    width: 900px;
    min-height: 600px;
    font-size: 0.8em;
    /*border: blue solid 1px;*/
}
#header{
    width: 100%;
    height: 200px;   
    /*border: blue solid 1px;*/
}
.logo{
    height: 157px;
    background: url(../images/entete.png) no-repeat;
}

ul.menuH{
    float: right;
}
.menuH li{
    display: inline-table;
    list-style: none;
    margin-right: 5px;
    width: 115px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background-color: appworkspace;
    border: solid 1px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}
.menuH a {
    text-decoration: none;
    color: black;
}
* a{
    text-decoration: none;
    cursor: pointer;
}
.menuH li:hover{
    background-color: greenyellow;
}

#principal{
    min-height: 300px;
    width: 100%;
    margin-top: 10px;
    /*border: bisque solid 1px;*/
}
.menuV {
    width: 22%;
    min-height: 300px;
    float: left;
    border: solid 1px green;
    margin-bottom: 5px;
}
.contenu{
    margin-top: 5px;
    width: 76%;
    border: solid 1px green;
    min-height: 300px;
    margin-left: 24%;
}
#pied_de_page{
    clear: both;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border: solid 1px green;
}
#current{
    background-color: green;  
}
#current2{
    font-weight: bold;
}
#current2 a{
    color: green;
}
a #current {
    color: white;    
}
#connexion{
    width: 100%;
}
.menuV a {
    text-decoration: none;
}
ul.menu{
    list-style-type: none !important;
}

ul.menu li a:link, ul.menu li a:visited {
    background: url("../images/puce.gif") no-repeat scroll 5px 12px transparent;
    color: #444444;
}
ul.menu li a:link, ul.menu li a:visited {
    display: block;
    padding: 7px 4px 7px 15px;
    text-decoration: none;
}
ul.menu li a:hover{
    color: green;
    background: none;
}
ul.menu {
    margin: 0;
    padding: 0;
}
#header ul li a:link, #header ul li a:visited {
    display: inline;
    padding: 10px;
    text-transform: uppercase;
}
#libelle{
 margin-right: 5px;    
}

#success{
    color: green;
}
#messageErreur{
    color: red;
}
#afficheur table{
    width: 90%;
    border:solid 1px #cfcaca ; 
}
#afficheur th{
    background-color: #E6E6E6;
}
#lignePaire{
    background-color: #D8D8D8;
}
#ligneImpaire{
    background-color: white;
}
#nageur{
    margin-left: 5px;
}